.modal {
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    height: fit-content;
    margin: auto;
    min-height: 25%;
    padding: 15px;
    position: relative;
    text-align: center;
    top: 37.5%;
    width: 50%;

    &:focus {
        outline: none;
    }
}

.header {
    background-color: black;
    color: white;
    margin: 0;
    padding: 15px;
    text-align: center;
    width: 100%;
}